<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/nitip.jpeg" alt="diki" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display4">Dhiki Adriansya</h1>
            <p class="lead">Guru | Content creator</p>
        </div>
    </div>
</div>